<!-- The Footer -->

<footer aria-label="Site Info" class="
    d-flex flex-column justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3
  ">
    <!-- Left Side: Copyright -->
    <p class="mb-2 mb-lg-0">
        {{- '©' }}
        <time>{{ 'now' | date: '%Y' }}</time>

        {% if site.social.links %}
        <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
        {% else %}
        <em class="fst-normal">{{ site.social.name }}</em>.
        {% endif %}

        {% if site.data.locales[include.lang].copyright.brief %}
        <span data-bs-toggle="tooltip" data-bs-placement="top"
            title="{{ site.data.locales[include.lang].copyright.verbose }}">
            {{- site.data.locales[include.lang].copyright.brief -}}
        </span>
        {% endif %}
    </p>

    <!-- Right Side: Custom Info -->
    <div class="text-center text-lg-end">
        <div class="mb-1 fst-italic">Built by engineer, for engineers</div>
        <div class="small">
            Contact: <a href="mailto:contact@riteshrana.engineer">contact@riteshrana.engineer</a>
        </div>
    </div>
    </div>
</footer>

{% if page.layout == 'post' %}
{% include reading-progress.html %}
{% endif %}