<!-- The Side Bar -->

<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">
    <div class="header-wrapper">
        <a href="{{ '/' | relative_url }}" class="sidebar-profile">
            {% include sidebar-profile.html %}
        </a>
    </div>

    <div class="nav-content">
        {% include sidebar-nav.html %}
    </div>

    <div class="sidebar-bottom d-flex flex-wrap  justify-content-center">
        {% for entry in site.data.contact %}
        {% capture url %}
        {%- if entry.type == 'email' -%}
        mailto:{{ entry.nospam }}
        {%- else -%}
        {{ entry.url }}
        {%- endif -%}
        {% endcapture %}

        <a href="{{ url }}" aria-label="{{ entry.type }}" {% unless entry.type=='email' %}target="_blank"
            rel="noopener noreferrer" {% endunless %}>
            <i class="{{ entry.icon }}"></i>
        </a>
        {% endfor %}
    </div>
</aside>